<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Feedback</title>
  </head>


  <body>

    {% for message in messages %}
  <div class="modal-dialog">
    
      <div class="alert alert-success text-center" role="alert">
        {{message.message}}
      </div>

  </div>
  {% endfor %}

    <form method="POST" action="/Feedback">
      {% csrf_token %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Feedback</h5>              
            </div>
            {% if user.is_authenticated %}
            <div class="modal-body">
              <div>            
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" name="feedback" id="message-text" required></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="/" class="btn btn-secondary">Home</a>
              <button type="submit" class="btn btn-primary">Send feedback</button>
            </div>
            {% else %}
            <div class="modal-body">
              <div>                
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Login to send feedback</label>                  
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <a href="/" class="btn btn-primary">Home</a>
              <a href="/Login" class="btn btn-success">Login</a>
            </div>
            {% endif %}
          </div>
        </div>
      </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

  <style>

    body{
        background-color:grey;

    }

    form{
        margin-top: 10%;
    }
   
  </style>

  </html>