<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Edit Profile</title>
  </head>
  <body class="container">
  
    {% if user.is_authenticated %}   
    
      <header class="blog-header py-3 container">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-3 text-center">            
            <a class="btn btn-sm btn-outline-secondary mx-2 my-2" href="/" >Home</a>
          </div>
          <div class="col-6 text-center">
            <img src="/media/logo/Sage-University.png" alt=""/>
            <h3 style="font-family: 'Times New Roman';">Alumni Portal</h3>
          </div>
          <div class="col-3 text-center">
            <!-- SEARCH ICON
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>-->            
            <a class="btn btn-sm btn-outline-secondary mx-2 my-2" href="/Logout" >logout</a>
          </div>
        </div>
      </header>

      
    <hr>
    {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{message}}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
    {% endfor %}

    {% for alu in alumni %}

    <!-- Three columns of text below the carousel -->
    <div class="row">

      <div class="col-lg-4 text-center">
        <img src="/media/{{alu.Img}}" class="bd-placeholder-img rounded-circle" width="150" height="150">
        <h3></h3>    
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-sm  mb-1" data-toggle="modal" data-target="#editimage">
          upload image
        </button>    
        <hr>
      </div><!-- /.col-lg-4 -->
      

      <div class="col-lg-8">     
        
      <form class="">
        <div class="form-group row">
          <label class="col-5 col-form-label">Name</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Firstname}} {{alu.Lastname}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">DOB</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Date_Of_Birth}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Email</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Email}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Mobile no.</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Mobile_no}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Course</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Course}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Branch</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Branch}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Section</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Section}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Enrollment no.</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Enrollment_no}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Scholar no.</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Scholar_no}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">Address</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.Address}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">City</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.City}}</text>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5 col-form-label">State</label>
          <div class="col-7">
            <text class="form-control-plaintext">{{alu.State}}</text>
          </div>
        </div>

      </form>
      <button type="button" class="btn btn-outline-primary ml-1 mb-2" data-toggle="modal" data-target="#Editprofile" data-whatever="@mdo">Edit profile</button>
      <button type="button" class="btn btn-outline-primary ml-1 mb-2" data-toggle="modal" data-target="#Editusername" data-whatever="@mdo">Change Username/password</button>


      </div><!-- /.col-lg-8 -->     
      
    </div><!-- /.row -->

<!--modal-->
<form method="POST" action="/edit-profile/{{alu.Scholar_no}}" enctype="multipart/form-data">
      {% csrf_token %}
<div class="modal fade" id="Editprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="{{alu.Email}}">
          </div>
          <div class="form-group">
            <label class="col-form-label">Mobile no.</label>
            <input pattern="[0-9]{10}" name="mobile" class="form-control" placeholder="{{alu.Mobile_no}}">
          </div>
          <div class="form-group">
            <label class="col-form-label">Address</label>
            <input type="text" name="address" class="form-control" placeholder="{{alu.Address}}">
          </div>
          <div class="form-group">
            <label class="col-form-label">City</label>
            <input type="text" name="city" class="form-control" placeholder="{{alu.City}}">
          </div>
          <div class="form-group">
            <label class="col-form-label">State</label>
            <input type="text" name="state" class="form-control" placeholder="{{alu.State}}">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>


<!--modal-2-->

<!-- Modal -->
<form method="POST" action="/upload-image/{{alu.Scholar_no}}" enctype="multipart/form-data">
      {% csrf_token %}
<div class="modal fade" id="editimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
      <div class="modal-body">
        <div class="form-group">
            <label class="col-form-label">Upload Image</label>
            <input type="file" name="Image" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>      
    </div>
  </div>
</div>
</form>


<!-- Modal -->
<form method="POST" action="/update-credentials/{{alu.Scholar_no}}" enctype="multipart/form-data">
      {% csrf_token %}
<div class="modal fade" id="Editusername" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Credentials</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="form-group">
            <label class="col-form-label">Username</label>
            <input class="form-control" pattern="[A-Za-z0-9]{0,10}" name="username">
          </div>
          <div class="form-group">
            <label class="col-form-label">Password</label>
            <input type="password" name="password" class="form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>

<hr>

<footer class="my-md-2 pt-md-2 container">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="/media/logo/Sage-University.png" alt="Sage_logo" width="110em" height="110em">
      <small class="d-block mb-3 text-muted">&copy; 2020-2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/">Home</a></li>
        <li><a class="text-muted" href="/Notices">Notices</a></li>
        <li><a class="text-muted" href="/Events">Events</a></li>
        <li><a class="text-muted" href="/Gallery">Gallery</a></li>
        <li><a class="text-muted" href="/Job-Board">Job board</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        {% if user.is_authenticated %}
        <li><a class="text-muted" href="/Logout" >logout</a></li>
        {% else %}
        <li><a class="text-muted" href="/Login" >login</a></li>
        <li><a class="text-muted" href="/Register">Register</a></li>
        {% endif %}      
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contact-Us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/About">About Us</a></li>
        <li><a class="text-muted" >Phone no. - 9876543210</a></li>
        <li><a class="text-muted" href="/Email">Email for any queries</a></li>
        <li><a class="text-muted" href="/Feedback">Feedback / Suggestion</a></li>
      </ul>
    </div>
    <a href="#">Go to top</a>
  </div>
</footer> 

    
  {% endfor %}
  {% endif %}
  


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </body>
</html>